.form{
  margin: 0 auto;
  width: 60vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.form input{
  border: 0px;
  line-height: 2rem;
  border-bottom: 1px solid #999;
  outline: none;
  color: #333;
}
.form .phoneList a{
  cursor: pointer;
  color: red;
  margin-right: 10px;
}
.phoneList{
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneList ul li{
  list-style: none;
}
.phoneList ul li a{
  cursor: pointer;
}
